.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'DM Sans', sans-serif;
}

.headerRow th {
  background: white;
  border-bottom: 0.8px solid #e2e2e7;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #23366a;
  padding: 12px 16px;
  text-align: left;
}

.oddRow {
  background: #f2f2f7;
}

.evenRow {
  background: white;
}

.oddRow td,
.evenRow td {
  border-bottom: 0.8px solid #e2e2e7;
}

.cellRole {
  padding: 12px 16px;
}

.roleInfo {
  display: flex;
  flex-direction: column;
}

.roleName {
  font-size: 11px;
  line-height: 16.5px;
  color: #23366a;
}

.roleId {
  font-size: 10px;
  line-height: 15px;
  color: #bbbbbb;
}

.cellActive {
  padding: 12px 16px;
  font-size: 11px;
  font-weight: 500;
  color: #23366a;
}

.cellInactive {
  padding: 12px 16px;
  font-size: 11px;
  font-weight: 500;
  color: #4a4a4c;
}

.cellTotal {
  padding: 12px 16px;
  font-size: 11px;
  color: #23366a;
}
