.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableArea {
  display: flex;
  flex-direction: column;
}

.headerRow {
  display: flex;
  gap: 24px;
  padding: 14px 16px;
  background: white;
  border-bottom: 0.8px solid #e2e2e7;
}

.bodyRow {
  display: flex;
  gap: 24px;
  padding: 18px 16px;
  border-bottom: 0.8px solid #e2e2e7;
}

.footerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-top: 0.8px solid #e2e2e7;
  background: white;
}

.paginationArea {
  display: flex;
  align-items: center;
  gap: 16px;
}

.paginationButtons {
  display: flex;
  gap: 4px;
}
